@import "styles/styles";

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 8px;
    margin-bottom: 12px;

    @include for-cartPayment {
        grid-template-columns: 1fr;
    }

}

.cart {
    display: grid;
    position: relative;
    flex-direction: column;
    gap: 24px;
    z-index: 999;

    &__item {
        @include boxShadow;
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        background-color: #fff;
    }

    &__img {
        max-width: 250px;
        border-radius: 10px;
    }

    &__title {
        max-width: 200px;
    }

    &__removeItem {
        width: 24px;
        height: 24px;
        transition: all 200ms ease-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05)
        }
    }

    &__counter {
        display: flex;
        gap: 8px;
        align-items: center;

    }

    &__counterButton {
        display: block;
        text-align: center;
        justify-content: center;
        color: $button-primary-text-hover;
        font-weight: bold;
        background-color: $text-secondary;
        font-size: 14px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transition: all 200ms ease-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__empty {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        width: 100%;
        align-items: center;
    }

    &__emptyImg {
        display: block;
        width: 150px;

    }

    &__right {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__footer {
        @include boxShadow;
        border-radius: 8px;
        position: sticky;
        max-height: 200px;
        top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        z-index: 1;
    }

    &__img_pay {
        width: 150px;
    }

    @include for-tablet {
        &__img {
            max-width: 200px;
        }

        &__title {
            max-width: 150px;
        }
    }

    @include for-phone {
        &__item {
            gap: 8px;
        }

        &__img {
            max-width: 150px;
        }

        &__title {
            max-width: 100px;
        }
    }

    @include for-cart {
        &__item {
            display: grid;
            grid-template-columns: repeat(4, 25%);
        }

        &__img {
            max-width: 100%;
        }

        &__removeItem {
            width: 20px;
            height: 20px;
        }

        &__right {
            gap: 5px;
        }
    }

    @include for-cartPayment {
        &__footer {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 12px;
            background-color: rgba(81, 133, 129, 0.5);
            ;
        }
    }
}