.s {
    width: 24px;
    height: 24px;
}

.m {
    width: 48px;
    height: 48px;
}

.l {
    width: 60px;
    height: 60px;
}
.s, .m, .l {
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}