.input {
    width: 300px;
    height: 52px;
    padding: 16px 44px 16px 12px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    color: #151411;
    background: #FFFFFF;
    border: 0;

    &:focus {
        outline: 1px solid #518581;
    }
}