@import "styles/styles";

.cards {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 5px;
    justify-content: space-between;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-height: 100%;
        justify-content: space-between;
        background-color: $card-bg;
        transition: all 200ms linear;

        &:hover {
            box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
        }
    }

    &__loader {
        position: absolute;
        left: 50%;
        top: 30%;
    }

    @include for-tablet {
        grid-template-columns: repeat(2, 50%);
    }

    @include for-phone {
        grid-template-columns: 100%;
    }
}