@import "styles/styles";

.cards {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 5px;
    justify-content: space-between;

    &__loader {
       @include loaderPosition
    }

    @include for-tablet {
        grid-template-columns: repeat(2, 50%);
    }

    @include for-phone {
        grid-template-columns: 100%;
    }
}