@import 'styles/styles';

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 17px 20px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    transition: all 200ms linear;
}

.green {
    color: #fff;
    background-color: $button-primary-bg;

    &:hover {
        background-color: $button-primary-bg-hover;
    }

    &:active {
        background-color: $button-primary-bg-active;
    }

    &:disabled {
        background-color: $button-primary-bg-disabled;
    }
}

.white {
    color: $text-primary;
    background-color: #fff;
    border: 1px solid #000;

    &:hover {
        opacity: 0.6;
    }

    &:disabled {
        background-color: $button-primary-bg-disabled;
    }
}