@import "styles/styles";

.text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 600px;
}

.title {
    line-height: 38px;
    font-size: 36px;
}

.button {
    line-height: 18px;
    font-size: 18px;
}

.p-20 {
    line-height: 24px;
    font-size: 20px;
}

.button {
    line-height: 22px;
    font-size: 18px;
}

.p-16 {
    line-height: 20px;
    font-size: 16px;
}

.p-14 {
    line-height: 18px;
    font-size: 14px;
}