@import "styles/styles";

.categories {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 5px;
    justify-content: space-between;
    position: relative;
    padding-top: 30px;

    &__arrow {
       @include arrowBack
    }

    &__loader {
        position: absolute;
        justify-content: center;
        left: 50%;
        top: 30%;
    }

    @include for-tablet {
        grid-template-columns: repeat(2, 50%);
    }

    @include for-phone {
        grid-template-columns: 100%;
    }
}