@import "styles/styles";

.categories {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 5px;
    justify-content: space-between;
    position: relative;
    padding-top: 30px;

    &__arrow {
        position: absolute;
        cursor: pointer;
        top: 0;
        transition: all 200ms ease-in-out;
        width: 24px;
        height: 30px;
        background-color: transparent;
        background-image: url("../../assets/arrow-prev.svg");

        &:hover {
            position: absolute;
            transform: scale(1.1);
        }
    }

    &__loader {
        position: absolute;
        justify-content: center;
        left: 50%;
        top: 30%;
    }
    @include for-tablet {
        grid-template-columns: repeat(2, 50%);
    }

    @include for-phone {
        grid-template-columns: 100%;
    }
}