@import "styles/styles";

.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;

    &__squares {
        display: grid;
        height: 50vh;
        width: 100vw;
        gap: 5px;
        grid-template-areas: 
            "first first first"
            "second . third";       
    }
    &__first {
        grid-area: first;
        background-color: #9999FF;
    }

    &__second {
        grid-area: second;
        background-color: #FF9999;
    }

    &__third {
        grid-area: third;
    }

    &__text {
        text-align: center;
        position: absolute;
        z-index: 22;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__block {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        inset: 0;
        opacity: 0.3;
    }

    @include for-tablet {
        &__squares {
            grid-template-areas: 
            "first first"
            "second third";
            grid-template-rows: repeat(2, 50%);
        }
    }

    @include for-phone {
        &__squares {
            grid-template-areas: 
            "first"
            "second"
            "third";
            grid-template-rows: repeat(3, 33.3%);
        }

        &__text {
            font-size: 14px;
        }
    }
}