//@import "styles/Roboto/fonts.css";
@mixin for-laptop {
    @media screen and (max-width: 1024px) { @content; }
}
@mixin for-tablet {
    @media screen and (max-width: 768px) { @content; }
}
@mixin for-phone {
    @media screen and (max-width: 520px) { @content; }
}


$text-primary: #000;
$text-secondary: #afadb5;
$text-accent: #518581;
$loader-bg: #518581;
$button-primary-bg: #518581;
$button-primary-text: #fff;
$button-primary-bg-hover: #86aaa7;
$button-primary-text-hover: #fff;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-text-disabled: #fff;
$button-primary-bg-active: #487773;
$button-primary-text-active: #fff;
$input-text: #000;
$input-bg: #fff;
$input-placeholder: #afadb5;
$input-border: #fff;
$input-bg-focus: #fff;
$input-border-focus: #518581;
$input-text-focus: #000;
$input-bg-disabled: #fff;
$input-border-disabled: #fff;
$input-text-disabled: rgba(0, 0, 0, 0.2);
$checkbox-bg: #fff;
$checkbox-border: #fff;
$checkbox-bg-hover: #fff;
$checkbox-border-hover: #518581;
$checkbox-bg-disabled: rgba(255, 255, 255, 0.5);
$checkbox-border-disabled: rgba(255, 255, 255, 0);
$checkbox-check: #518581;
$checkbox-check-hover: #518581;
$checkbox-check-disabled: rgba(0, 0, 0, 0.2);
$card-image-bg: #d9d9d9;
$card-bg: #fff;
$dropdown-options-bg: #fff;
$brand: #518581;
$brand-active: #487773;
$brand-hover: #86aaa7;
$main-bg: rgb(250, 250, 250);

:root {
    --text-primary: #000;
    --text-secondary: #afadb5;
    --text-accent: #518581;
}

html,
body {
    font-family: 'Roboto';
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
    margin: 0;
}