@import "styles/styles";

.user {
    display: grid;
    grid-template-rows: 70% 50%;
    grid-template-areas: "first first second"
    "third fourth fifth";
    gap: 12px;
    padding-top: 12px;
    position: relative;


    &__account {
        @include boxShadow;
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background-color: $button-primary-bg-hover;
        color: $main-bg;
        transition: all 200ms ease-out;
        padding: 24px 12px;

        &:hover {
            transform: scale(1.02);
        }

        &__info {
            grid-area: first;
        }

        &__delivery {
            grid-area: second;
            background-color: $main-bg;
            color: #000;
        }

        &__receipts {
            grid-area: fifth;
            background-color: $button-primary-bg-hover;
            color: $main-bg;
        }

        &__discount {
            grid-area: fourth;
            background-color: $main-bg;
            color: #000;
        }

        &__news {
            grid-area: third;
            background-color: $button-primary-bg-active;
            color: $main-bg;
        }
    }

    &__avatar {
        display: block;
        width: 200px;
        border-radius: 50%;
    }

    @include for-tablet {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__account {
            justify-content: flex-start;
            gap: 24px;
        }

        &__avatar {
            width: 150px;
        }
    }

    @include for-phone {
        &__avatar {
            width: 100px;
        }
    }
}