@import "styles/styles";

.related {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 48px;

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 8px;
    }

    &__card {
        max-width: 360px;
    }

    @include for-tablet {
        &__cards {
            grid-template-columns: repeat(2, 50%);
        }
    }
    @include for-phone {
        align-items: center;
        &__cards {
            grid-template-columns: repeat(1, 100%);
        }
    }
}