@import "styles/styles";

.payment {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 12px;
    align-items: center;

    &__button {
        border-radius: 8px;
        justify-content: center;
        width: 100%;
    }

    &__data {
        display: grid;
        border-radius: 8px;
        width: 100%;
        justify-content: center;
        padding: 24px 8px;
        background-color: $button-primary-bg-hover;
        gap: 8px;
        grid-template-areas:
            "num num num num"
            "mm yy . cvc";
        grid-template-columns: 80px 80px 70px 100px;
    }

    &__num {
        grid-area: num;
    }

    &__month {
        grid-area: mm;
    }

    &__year {
        grid-area: yy;
    }

    &__cvc {
        grid-area: cvc;
    }

}